
<head>
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/header.css"/>
    <script src="/js/sidebar.js"></script>
    

</head>
<header>
    <div class="color-bar">
        <img src="/images/barra.png" alt="Color Bar">
    </div>
    <nav class="header-content">
        <div class="logo">
            <a href="/tpm/home"><img src="/images/Bosch_logo.png" alt="Logo"></a>
        </div>
    </nav>
</header>

<div class="sidebar-trigger"></div>
<nav class="sidebar">
    <div class="sidebar-header">
        TPM Automation
    </div>
    <ul class="sidebar-nav">
        <li class="has-dropdown">
            <a href="#">
                <img src="/icons/user.svg" alt="Usuario" class="menu-icon">
                Usuario
                <img src="/icons/down.svg" alt="Desplegar" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li>
                    <a href="/tpm/formInit/">
                        <img src="/icons/clipboard-add.svg" alt="Hacer TPM" class="menu-icon">
                        Hacer TPM
                    </a>
                </li>
            </ul>
        </li>
        <li class="has-dropdown">
            <a href="#">
                <img src="/icons/admin.svg" alt="Administrador" class="menu-icon">
                Administrador
                <img src="/icons/down.svg" alt="Desplegar" class="dropdown-icon">
            </a>
            <ul class="submenu">
                <li>
                    <a href="/tpm/admEquipments/">
                        <img src="/icons/equipments.svg" alt="Administrar equipos" class="menu-icon">
                        Administrar Equipos
                    </a>
                </li>
                <li>
                    <a href="/tpm/admChecklist/">
                        <img src="/icons/checklist.svg" alt="Administrar checklist" class="menu-icon">
                        Administrar Checklist
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/icons/opl.svg" alt="Revisión de OPL" class="menu-icon">
                        Revisión de OPL
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="/icons/efficiency.svg" alt="Métricas de cumplimiento" class="menu-icon">
                        Métricas de Cumplimiento
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>



