<%- include('../layouts/header') %> <!-- Incluye el header -->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home_style.css"/>
</head>
<body>
    <div class="container">
        <!-- Left: Carousel -->
        <div class="carousel">
            <img src="/images/laboratory.png" alt="Slide 1">
            <img src="/images/machine_check.png" alt="Slide 2">
            
        </div>

        <!-- Right: Content -->
        <div class="content">
            <h2>Mantenimientos Autónomos</h2>
            <div>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris egestas elit 
                    placerat ex egestas vulputate. Nam varius purus libero, at gravida lectus elementum id

                </p>
            </div>
            <button onclick="window.location.href='/tpm/formInit'">Ingresar</button>
        </div>
    </div>

    <script>
        // Carousel Functionality
        const images = document.querySelectorAll('.carousel img');
        let currentIndex = 0;

        setInterval(() => {
            images[currentIndex].style.display = 'none';
            currentIndex = (currentIndex + 1) % images.length;
            images[currentIndex].style.display = 'block';
        }, 10000); // Cambia cada 3 segundos
    </script>
    
</body>
</html>
